outputs/*
tuning-output/*
tuning-output-old/*
noisy-output/*
rbf-output/*
logs/*
pretrained_models/*
data/AudioCaps/hdf5s/*
data/AudioCaps/pickles/*
data/AudioCaps/waveforms/*

data/Clotho/hdf5s/*
data/Clotho/pickles/*
data/Clotho/waveforms/*


ablation-output/*
*.png
exp-outputs/*